:root{
    --colour-primary: #8D0801;
    --colour-secondary: #F02D3A;
    --colour-tertiary: #FFD3D1;
    --colour-light: #FFFFFF;
    --colour-dark: #8C8C8C;
    --colour-double-dark: #575757;
}

body{
    color: var(--colour-dark);
}

header{
    background-color: var(--colour-primary);
}

label{
    color: var(--colour-primary);
}

input:checked + .bullet{
    background-color: var(--colour-primary);
}

h1{
    color: var(--colour-tertiary);
}

h2{
    color: var(--colour-secondary)
}

h3{
    color: var(--colour-secondary)
}

.product-card-header > h3{
    color: var(--colour-tertiary);
}

h4{
    color: var(--colour-primary);
}

.product-card-header > h4{
    color: var(--colour-secondary);
}

a{
    color: var(--colour-secondary);
}

a > h3{
    color: var(--colour-tertiary);
}

p{
    color: var(--colour-dark);
}

.material-symbols-outlined{
    color: var(--colour-secondary);
}

li > .material-symbols-outlined{
    color: var(--colour-dark);
}

.logo{
    color: var(--colour-tertiary);
}

.product-card{
    background-color: var(--colour-primary);
}


.product-card-special{
    background-color: var(--colour-light);
}

.bullet{
    background-color: var(--colour-double-dark);
}

#main{
    background-color: var(--colour-primary);
}

.bullet::before{
    background-color: var(--colour-secondary);
}

.circle::before{
    background-color: var(--colour-secondary);
}

.switch:hover > .bullet{
    background-color: var(--colour-tertiary);
}

#button-home{
    background-color: var(--colour-light);
}

.button{
    color: var(--colour-secondary);
}

.button:hover{
    background-color: var(--colour-tertiary);
}

#button-home:hover{
    background-color: var(--colour-tertiary);
}

#colourwheel{
    color: transparent;
    background-image: conic-gradient(#FF0000, #ED10AB, #842CD1, #4960D4, #3DD7D7, #35DC89, #2EE164, #2DE527, #8DEC21, #D9F159, #F6C88B, #FF0000);
}