:root{
    --colour-primary: #8D0801;
    --colour-secondary: #F02D3A;
    --colour-tertiary: #FFD3D1;
    --colour-light: #FFFFFF;
    --colour-dark: #8C8C8C;
}

body{
    color: var(--colour-dark);
}

header{
    background-color: var(--colour-primary);
}

.material-symbols-outlined{
    color: var(--colour-secondary);
}

h1{
    color: var(--colour-tertiary);
}

h2{
    color: var(--colour-secondary)
}

h3{
    color: var(--colour-secondary)
}

.product-card-header > h3{
    color: var(--colour-tertiary);
}

h4{
    color: var(--colour-primary);
}

.product-card-header > h4{
    color: var(--colour-secondary);
}

a{
    color: var(--colour-secondary);
}

.logo{
    color: var(--colour-tertiary);
}

.product-card{
    background-color: var(--colour-primary);
}

#main{
    background-color: var(--colour-primary);
}
