html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 30px 10px 30px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

a + a{
    margin-left: 30px;
}

i + i {
    margin-left: 15px;
}

.product-card{
    border: 3px solid var(--colour-dark);
    border-radius: 20px;
    width: 500px;
    box-shadow: 5px 5px 8px;
    margin: 10px;
    padding: 5px 0px 0px 15px;
}

.product-card-content{
    float: left;
    width: 50%;
}

.product-card > img{
    float: right;
    width: 50%;
    border: 0px solid transparent;
    border-radius: 0px 0px 20px 0px;
}

.product-card-special{
    border: 3px solid var(--colour-dark);
    border-radius: 20px;
    width: 500px;
    margin: 10px;
    padding: 10px 0px 25px 15px;
    text-align: center;
}

.product-card-special * {
    padding-bottom: 15px;
}

.button{
    border: 3px solid var(--colour-dark);
    border-radius: 20px;
    margin: 20px;
    padding: 5px 10px 5px 10px;
}

.comparison-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
}

.input-box:focus{
    outline: none;
}

input:checked + .bullet::before{
    left: 26px;
}

.circle{
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 26px;
    transition: all ease 150%;
}

.bullet{
    display: inline-block;
    height: 34px;
    width: 58px;
    border-radius: 26px;
    border: 2px solid var(--colour-dark);
    position: relative;
}

.bullet::before{
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all ease 150ms;
    content: "";
}

.switch{
    position: relative;
    display: inline-block;
}

.switch * {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.checkbox{
    opacity: 0;
    width: 0;
    height: 0;
}

@media screen and (max-width: 700px) {
    #desktop-topnav {
        display: none;
    }
    #sbm{
        text-align: center;
    }

    #mobile-topnav {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    #desktop-topnav {
        display: block;
    }
    #sbm{
        font-size: 8rem;
    }

    #mobile-topnav {
        display: none;
    }
}

#feature-list{
    margin: 20px;
}

#feature-list > i{
    border: 3px solid var(--colour-dark);
    border-radius: 50%;
}

#enquiry-confirmation{
    background-image: url("../Images/Other/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#tick{
    max-width: 100px;
}