/* References for importing chosen fonts */
@import url('//db.onlinewebfonts.com/c/23a51374dd39ab994489367e9f4e57f4?family=RACE1+Brannt+Plus+Chiseled+NCV');
@import url('//db.onlinewebfonts.com/c/7716890b939cbfd5a39378ab8dc22c2b?family=BSB+Text+Classic');
@import url('http://fonts.cdnfonts.com/css/momcake');

/* SECTION: Variables and attributes related to the fonts, their styling and sizing of elements across all pages */
:root{
    --primary-font: 'RACE1 Brannt Plus Chiseled NCV', sans-serif;
    --secondary-font: 'MOMCAKE', sans-serif;
    --tertiary-font: 'BSB Text Classic', sans-serif;

    --text-base-size: 1rem;
    --text-xxl: 5rem;
    --text-xl: 3rem;
    --text-lg: 2rem;
    --text-md: 1.6rem;
    --text-sm: 1.4rem;

    font-family: var(--tertiary-font);
}

body{
    font-size: var(--text-base-size);
}

label{
    font-size: var(--text-lg);
    font-family: var(--secondary-font);
    font-weight: bold;
}

input{
    font-size: var(--text-md);
    font-family: var(--tertiary-font);
}

h1{
    font-size: var(--text-xxl);
    font-family: var(--primary-font);
}

h2{
    font-size: var(--text-lg);
    font-family: var(--secondary-font);
    font-weight: bold;
}

h3{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: var(--text-lg);
}

h4{
    font-family: var(--tertiary-font);
    font-size: var(--text-sm);
}

a{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: var(--text-md);
    text-decoration: none;
}

p{ 
    font-family: var(--tertiary-font);
    font-size: var(--text-base-size);
}

li{
    font-family: var(--tertiary-font);
    font-size: var(--text-base-size);
}

.logo{
    font-family: var(--primary-font);
    font-size: var(--text-xl);
}

.material-symbols-outlined{
    font-size: var(--text-xl);
}

.button{
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: var(--text-md);
    text-decoration: none;
    cursor: pointer;
}

#sbm{
    font-size: var(--text-xxl);
}

/* SECTION: Font styling and sizing specifically related to the home page */
#slogan{
    font-size: var(--text-xl);
}

/* SECTION: Font styling and sizing specifically related to the product pages*/
@media screen and (min-width: 1300px){
    .product-sizing *{
        --text-lg: 3vw;
        --text-md: 2vw;
        --text-sm: 1.4vw;
        --text-base-size: 1.2vw;
    }
}

/* SECTION: Font styling and sizing specifically related to the enquiry form and confirmation pages */
#form-enquiry{
    font-size: var(--text-sm);
}